{% extends 'base.html.twig' %}
{% block title %}Consulter un cours!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block header %}Mon superbe menu{% endblock %}
{% block body %}
<div class ="col-sm-12 col-xl-6 ">
    <div  class="container-fluid pt-4 px-4">
        <div class =" bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">PAGE DE CONSULTATION D'UN ÉLÈVE</h6>

    <table class="table table-borderless">

        <tr><td>Nom : </td><td>{{eleve.nom}}</td>

        <tr><td>Prenom : </td><td>{{eleve.prenom}}</td>

        <tr><td>E-mail: </td><td>{{eleve.mail}}</td></tr>

        <tr><td>Telephone : </td><td>{{eleve.tel}}</td></tr>

        <tr><td>Numéro de rue:  </td><td> {{ eleve.numRue }}</td></tr>

        <tr><td>Rue : </td><td>{{ eleve.rue }}</td></tr>

        <tr><td>Responsables : </td>
            <td>
                {% for responsable in eleve.responsables %}
                {{ responsable.prenom ~ " " ~ responsable.nom }}
                {% else %}
                Pas de responsable
                {% endfor %}
            </td></tr>
        <tr><td>Cours : </td>
            <td>
                <table class="table">
            <th scope="col" style="text-align: center;">Cours libelle</th>
            <th scope="col" style="text-align: center;">Type d'instrument</th>
            <th scope="col" style="text-align: center;">Jour</th>
            <th scope="col" style="text-align: center;">Heure debut</th>
            <th scope="col" style="text-align: center;">Heure Fin</th>
                {% for inscription in eleve.inscriptions %}
                    <tr>
                    <td>
                    {{ inscription.cours.libelle }}
                    </td>
                        <td>
                        {{ inscription.cours.typeInstrument.libelle }}
                        </td>
                        <td>
                        {{ inscription.cours.jour.libelle }}
                        </td>
                        <td>
                            {{ inscription.cours.heureDebut| date('H:i') }}
                        </td>
                        <td>
                            {{ inscription.cours.heureFin| date('H:i') }}
                        </td>
                </tr>
                {% else %}
                    Pas de cours inscrits
                {% endfor %}
    </table>
            </td></tr>

    </table>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}{% endblock %}