{% extends 'base.html.twig' %}
{% block title %}Consulter un cours!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block header %}Mon superbe menu{% endblock %}
{% block body %}

<div class="col-12">
    <div  class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">

<h6 class="mb-4">LISTE DES ELEVES</h6>
        {% if is_granted('ROLE_GEST') or is_granted('ROLE_ADMIN') %}
<form action="{{ path('eleveAjouter') }}" method="get">
    <button type="submit" class="btn btn-primary">Ajouter un nouveau eleve</button>
</form>
        {% endif %}
<div class="table-responsive">
<table class="table">


        <tr>
            <th scope="col" style="text-align: center;">Prenom</th>
            <th scope="col" style="text-align: center;">Nom</th>
            <th scope="col" style="text-align: center;">E-mail</th>
            <th scope="col" style="text-align: center;">Téléphone</th>
            <th scope="col">Consulter</th>
            {% if is_granted('ROLE_GEST') or is_granted('ROLE_ADMIN') %}
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
            {% endif %}

        </tr>

        {% for e in eleves %}
            <tr>
                <td style="text-align: center;">{{ e.Prenom }}</td>
                <td style="text-align: center;">{{ e.nom }}</td>
                <td style="text-align: center;">{{ e.mail }}</td>
                <td style="text-align: center;">{{ e.tel }}</td>

                <td>
                    <form action="{{ path('eleveConsulter', {'id': e.id}) }}" method="get">
                        <button type="submit" class="btn btn-outline-primary">Consulter</button>
                    </form>
                </td>
                {% if is_granted('ROLE_GEST') or is_granted('ROLE_ADMIN') %}
                <td>
                    <form action="{{ path('eleveModifier', {'id': e.id}) }}" method="post">
                        <input type="hidden" name="_method" value="UPDATE">
                        <button type="submit" class="btn btn-outline-primary">Modifier</button>
                    </form>
                </td>
                <td>
                    <form action="{{ path('eleveSupprimer', {'id': e.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-outline-primary">Supprimer</button>
                    </form>
                </td>
                {% endif %}

            </tr>

    {% endfor %}
</table>
</div>
    </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}{% endblock %}
