{% extends 'base.html.twig' %}
{% block title %}Consulter un cours!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block header %}Mon superbe menu{% endblock %}
{% block body %}

<form action="{{ path('instrumentAjouter') }}" method="get">

</form>

<div class="col-12">
    <div  class="container-fluid pt-4 px-4">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">LISTE DES INSTRUMENTS</h6>
            <form action="{{ path('instrumentAjouter') }}" method="get">
                <button type="submit" class="btn btn-primary">Ajouter un nouvel instrument</button>
            </form>
        </div>
    </div>
</div>
LISTE DES INSTRUMENTS</br>
<table>

    <th>Numéro de Série</th>
    <th> Nom </th>
    <th>Prix d'Achat</th>
    <th>Date d'achat</th>
    <th>Utilisation</th>
    <th>Marque</th>
    <th>Type</th>




    {% for instruments in instruments %}
        <tr>
        <td>{{ instruments.numSerie }}</a></td>
        <td>{{ instruments.nom }}</a></td>
        <td>{{ instruments.prixAchat }}€</a></td>
        <td>{{ instruments.dateAchat|date('d/m/Y') }}</td>
        <td>{{ instruments.utilisation}}</td>
        <td>{{instruments.marque.libelle}} </td>
        <td>{{instruments.typeInstrument.libelle}} </td>
        <td>
            <form method="post" action="{{ path('instrumentModifier', {'id': instruments.id}) }}">
                <button type="submit">Modifier</button></form></td>

            <td>


            <form method="post" action="{{ path('InstrumentConsulter', {'id': instruments.id}) }}">
                <button type="submit">Consulter</button></form></td>


        </td>

        </tr>





    {% else %}
        <tr>
            <td>Aucun instrument n'a été trouvé.</td>
        </tr>
    {% endfor %}

</table>


{% endblock %}
{% block javascripts %}{% endblock %}