<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

liste des interventions</br>
<table>
    {% for i in pinterventions %}
        <tr>
        <td><a href="{{ path('interventionConsulter', { 'id': i.id }) }}">{{ i.descriptif }}</a></td>
        <td>{{ i.dateDebut|date('d/m/Y') }}</td>
        <td>{{ i.dateFin|date('d/m/Y') }}</td>
        <td>{{ i.descriptif}}</td>
        <td>{{ i.prix}}</td>
    {% else %}
        <tr>
            <td>Aucune intervention n'a été trouvé.</td>
        </tr>
    {% endfor %}
</table>


</body>
</html>