{% extends 'base.html.twig' %}
{% block title %}Consulter une intervention !{% endblock %}
{% block stylesheets %}{% endblock %}
{% block header %}Mon superbe menu{% endblock %}
{% block body %}

<form action="{{ path('interventionAjouter') }}" method="get">

</form>
<div class="col-12">
    <div  class="container-fluid pt-4 px-4">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">LISTE DES COURS</h6>
            <form action="{{ path('interventionAjouter') }}" method="get">
                <button type="submit" class="btn btn-primary">Ajouter une nouvelle intervention</button>
            </form>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th scope="col" style="text-align: center;">Professionnel </th>
                        <th scope="col" style="text-align: center;">Instrument </th>
                        <th scope="col" style="text-align: center;">Date </th>
                        <th scope="col" style="text-align: center;">Description </th>
                        <th scope="col" style="text-align: center;"> Prix</th>
                        <th scope="col">Modifier</th>

                    </tr>


        <tr>
            {% for i in pinterventions %}

            <td style="text-align: center;">{{ i.Professionnel.nom}} {{ i.professionnel.prenom}}</td>
            <td style="text-align: center;">{{ i.instrument.nom}} {{ i.instrument.numSerie}}</td>
            <td style="text-align: center;"> Du {{ i.dateDebut|date('d/m/Y') }} au {{ i.dateFin|date('d/m/Y') }}</td>
            <td style="text-align: center;">{{ i.descriptif}}</td>
            <td style="text-align: center;">{{ i.prix}}</td>
            <td>
                <form action="{{ path('InterventionModifier', {'id': c.id}) }}" method="post">
                    <input type="hidden" name="_method" value="UPDATE">
                    <button type="submit" class="btn btn-outline-primary">Modifier</button>
                </form>
            </td>
        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}{% endblock %}
