{% extends 'base.html.twig' %}
{% block title %}liste des contrats de pret!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block header %}Mon superbe menu{% endblock %}
{% block body %}

<form action="{{ path('contratPretAjouter') }}" method="get">

</form>
<div class="col-12">
    <div  class="container-fluid pt-4 px-4">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">LISTE DES CONTRATS DE PRET </h6>
            <form action="{{ path('contratPretAjouter') }}" method="get">
                <button type="submit" class="btn btn-primary">Ajouter un nouveau contrat de pret</button>
            </form>
            <div class="table-responsive">
                <table class="table">


    <tr>
        <th scope="col" style="text-align: center;">Instrument </th>
        <th scope="col" style="text-align: center;"> Eleve</th>
        <th scope="col" style="text-align: center;"> Responsable</th>
        <th scope="col" style="text-align: center;"> Date</th>
        <th scope="col" style="text-align: center;"> Etat avant le pret </th>
        <th scope="col" style="text-align: center;"> Etat au retout </th>
        <th scope="col"> Modifier</th>


    </tr>

    {% for c in contratPrets %}
        <tr>

            <td style="text-align: center;">{{ c.Instrument.nom }}{{ c.Instrument.numSerie }}</td>
            <td style="text-align: center;">{{ c.Eleve.nom }} {{ c.Eleve.prenom }}</td>
            <td style="text-align: center;">{% for responsable in c.eleve.responsables %}
                {{ responsable.nom }} {{ responsable.prenom }} <br>
                {% endfor %} </td>
            <td style="text-align: center;"> Du {{ c.dateDebut|date('y-m-d') }} au {{ c.dateFin|date('y-m-d') }}</td>
            <td style="text-align: center;">{{ c.etatDetailleDebut }} </td>
            <td style="text-align: center;">{{ c.etatDetailleRetour }} </td>

            <td>
                <form action="{{ path('contratPretModifier', {'id': c.id}) }}" method="post">
                    <input type="hidden" name="_method" value="UPDATE">
                    <button type="submit" class="btn btn-outline-primary">Modifier</button>
                </form>
            </td>
        </tr>

    {% endfor %}
</table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}{% endblock %}