{% extends 'base.html.twig' %}
{% block title %}Consulter un cours!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block header %}Mon superbe menu{% endblock %}
{% block body %}
<div class ="col-sm-12 col-xl-6 ">
    <div  class="container-fluid pt-4 px-4">
        <div class =" bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">PAGE DE CONSULTATION D'UN RESPONSABLE</h6>

    <table class="table table-borderless" >

        <tr><td>Nom : </td><td>{{responsable.nom}}</td>

        <tr><td>Prenom : </td><td>{{responsable.prenom}}</td>

        <tr><td>E-mail: </td><td>{{responsable.mail}}</td></tr>

        <tr><td>Telephone : </td><td>{{responsable.tel}}</td></tr>

        <tr><td>Eleves : </td>
            <td>
                {% for eleve in responsable.eleves %}
                    {{ eleve.prenom ~ " " ~ eleve.nom }}
                {% else %}
                    Pas d'eleve
                {% endfor %}
            </td></tr>

    </table>

        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}{% endblock %}