{% extends 'base.html.twig' %}
{% block title %}Consulter un cours!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block header %}Mon superbe menu{% endblock %}
{% block body %}

<div class="col-12">
    <div  class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">LISTE DES RESPONSABLES</h6>
<form action="{{ path('responsableAjouter') }}" method="get">
    <button type="submit" class="btn btn-primary">Ajouter un nouveau responsable</button>
</form>
        <div class="table-responsive">
            <table class="table">


    <tr>
        <th scope="col" style="text-align: center;">Prenom</th>
        <th scope="col" style="text-align: center;">Nom</th>
        <th scope="col" style="text-align: center;">E-mail</th>
        <th scope="col" style="text-align: center;">Téléphone</th>
        <th scope="col">Consulter</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>


    </tr>

    {% for r in responsables %}
        <tr>
            <td style="text-align: center;">{{ r.Prenom }}</td>
            <td style="text-align: center;">{{ r.nom }}</td>
            <td style="text-align: center;">{{ r.mail }}</td>
            <td style="text-align: center;">{{ r.tel }}</td>

            <td>
                <form action="{{ path('responsableConsulter', {'id': r.id}) }}" method="get">
                    <button type="submit" class="btn btn-outline-primary"> Consulter</button>
                </form>
            </td>
            <td>
                <form action="{{ path('responsableModifier', {'id': r.id}) }}" method="post">
                    <input type="hidden" name="_method" value="UPDATE">
                    <button type="submit" class="btn btn-outline-primary">Modifier</button>
                </form>
            </td>
            <td>
                <form action="{{ path('responsableSupprimer', {'id': r.id}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-outline-primary">Supprimer</button>
                </form>
            </td>


        </tr>

    {% endfor %}
</table>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block javascripts %}{% endblock %}
