{% extends 'base.html.twig' %}
{% block title %}Consulter un cours!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block header %}Mon superbe menu{% endblock %}
{% block body %}
<div class ="col-sm-12 col-xl-6 ">
    <div  class="container-fluid pt-4 px-4">
        <div class =" bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">PAGE DE CONSULTATION D'UN ACCESSOIRE</h6>
<p>
<table >



    <tr><td>Instrument :
    <td><a href="{{ path('InstrumentConsulter', { 'id': accessoires.instrument.id }) }}">{{ accessoires.instrument.nom }}</a></td>
    <tr><td>Libelle : </td><td>{{accessoires.libelle}} </td></tr>

    <td>
        <form method="post" action="{{ path('accessoireModifier', {'id': accessoires.id}) }}">
            <button type="submit">Modifier</button>
        </form></td>

    <td>
        <form method="post" action="{{ path('accessoireSupprimer', {'id': accessoires.id}) }}">
            <button type="submit">Supprimer</button>
        </form></td>

</table>

        </div>
    </div>
</div>

{% endblock %}
            {% block javascripts %}{% endblock %}

