{% extends 'base.html.twig' %}
{% block title %}Lister les inscriptions!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block header %}Mon superbe menu{% endblock %}
{% block body %}
    <div class="col-12">
        <div  class="container-fluid pt-4 px-4">
        <div class="bg-secondary rounded h-100 p-4">

            <h6 class="mb-4">LISTE DES INSCRIPTIONS</h6>
            {% if is_granted('ROLE_GEST') or is_granted('ROLE_ADMIN') %}
<form action="{{ path('inscriptionAjouter') }}" method="get">
    <button type="submit" class="btn btn-primary">Ajouter une nouvelle inscription</button>
</form>
            {% endif %}
    <div class="table-responsive">
        <table class="table">


    <tr>
        <th scope="col" style="text-align: center;">Eleve</th>
        <th scope="col" style="text-align: center;">Cours</th>
        <th scope="col" style="text-align: center;">Date Inscription</th>
        <th scope="col">Consulter</th>
        {% if is_granted('ROLE_GEST') or is_granted('ROLE_ADMIN') %}
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
        {% endif %}


    </tr>

    {% for i in inscriptions %}
        <tr>
            <td style="text-align: center;">{{ i.eleve.nom }}</td>
            <td style="text-align: center;">{{ i.cours.libelle }}</td>
            <td style="text-align: center;">{{ i.dateInscription|date('d/m/Y') }}</td>

            <td>
                <form action="{{ path('inscriptionConsulter', {'id': i.id}) }}" method="get">
                    <button type="submit" class="btn btn-outline-primary">Consulter</button>
                </form>
            </td>
            {% if is_granted('ROLE_GEST') or is_granted('ROLE_ADMIN') %}
            <td>
                <form action="{{ path('inscriptionModifier', {'id': i.id}) }}" method="post">
                    <input type="hidden" name="_method" value="UPDATE">
                    <button type="submit" class="btn btn-outline-primary">Modifier</button>
                </form>
            </td>
            <td>
                <form action="{{ path('inscriptionSupprimer', {'id': i.id}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-outline-primary">Supprimer</button>
                </form>
            </td>
            {% endif %}


        </tr>

    {% endfor %}
</table>
    </div>
    </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
