{#<!DOCTYPE html>#}
{#<html>#}
{#    <head>#}
{#        <meta charset="UTF-8">#}
{#        <title>{% block title %}Welcome!{% endblock %}</title>#}
{#        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">#}
{#        #}{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
{#        {% block stylesheets %}#}
{#            {{ encore_entry_link_tags('app') }}#}
{#        {% endblock %}#}

{#        {% block javascripts %}#}
{#            {{ encore_entry_script_tags('app') }}#}
{#        {% endblock %}#}
{#    </head>#}
{#    <body>#}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>23PLFMUSIC</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/23PLFMUSIC/public/design/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/23PLFMUSIC/public/design/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/23PLFMUSIC/public/design/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/23PLFMUSIC/public/design/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/23PLFMUSIC/public/design/css/style.css" rel="stylesheet">
</head>

<body style="display: flex; flex-direction: column; min-height: 100vh;">
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-secondary navbar-dark">
            <a href="{{ path("coursLister") }}" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary">23PLFMUSIC</h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
{#                    <img class="rounded-circle" src="/23PLFMUSIC/public/design/img/user.jpg" alt="" style="width: 40px; height: 40px;">#}
{#                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>#}
                </div>

                <div class="ms-3">
                    <h6 class="mb-0">John Doe</h6>
                    <span>Admin</span>
                </div>



            </div>
            <div class="navbar-nav w-100">
                <a href=""{{ path("coursLister") }}"" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Eleves</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="{{ path("eleveLister") }}" class="dropdown-item">Eleves</a>
                        <a href="{{ path("responsableLister") }}" class="dropdown-item">Responsables</a>
                        <a href="{{ path("inscriptionLister") }}" class="dropdown-item">Inscriptions</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Instruments</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="{{ path("listerInstrument") }}" class="dropdown-item">Instruments</a>
                        <a href="{{ path("accessoireLister") }}" class="dropdown-item">Accessoires</a></div>
                <a href="{{ path("coursLister") }}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Cours</a>
                <a href="{{ path("contratPretLister") }}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>ContratPret</a>


                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="signin.html" class="dropdown-item">Sign In</a>
                        <a href="signup.html" class="dropdown-item">Sign Up</a>
                        <a href="404.html" class="dropdown-item">404 Error</a>
                        <a href="blank.html" class="dropdown-item">Blank Page</a>
                    </div>
                </div>

                <a href="{{ path("listerInstrument") }}" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Instrument</a>
                <a href="{{ path("intervention") }}" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Intervention</a>
                <a href="{{ path("accessoireLister") }}" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Accessoires</a>
                {% if is_granted('ROLE_GEST') or is_granted('ROLE_ADMIN') %}
                    <a href="{{ path("app_register") }}" class="nav-item nav-link"><i class="fa fa-user me-2"></i>Register</a>
                {% endif %}


                {#
#}
{#                <div class="nav-item dropdown">#}
{#                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>#}
{#                    <div class="dropdown-menu bg-transparent border-0">#}
{#                        <a href="signin.html" class="dropdown-item">Sign In</a>#}
{#                        <a href="signup.html" class="dropdown-item">Sign Up</a>#}
{#                        <a href="404.html" class="dropdown-item">404 Error</a>#}
{#                        <a href="blank.html" class="dropdown-item">Blank Page</a>#}
{#                    </div>#}
{#                </div>#}

            </div>
        </nav>
    </div>

    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>

            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">

                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="/23PLFMUSIC/public/design/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="/23PLFMUSIC/public/design/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="/23PLFMUSIC/public/design/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item text-center">See all message</a>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <span class="d-none d-lg-inline-flex">{{ app.user.email }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                       <!-- <a href="#" class="dropdown-item">My Profile</a>
                        <a href="#" class="dropdown-item">Settings</a> -->
                        <a href="{{ path("app_logout") }}" class="dropdown-item">Déconnexion</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
        {% block body %}{% endblock %}


    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary rounded-top p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        &copy; <a href = "{{ path("mentionLégal") }}">Mention Légales </a>, All Right Reserved.
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/23PLFMUSIC/public/design/lib/chart/chart.min.js"></script>
<script src="/23PLFMUSIC/public/design/lib/easing/easing.js"></script>
<script src="/23PLFMUSIC/public/design/lib/waypoints/waypoints.min.js"></script>
<script src="/23PLFMUSIC/public/design/lib/owlcarousel/owl.carousel.js"></script>
{#<script src="/23PLFMUSIC/public/design/lib/tempusdominus/js/moment.js"></script>#}
{#<script src="/23PLFMUSIC/public/design/lib/tempusdominus/js/moment-timezone.js"></script>#}
<script src="/23PLFMUSIC/public/design/lib/tempusdominus/js/tempusdominus-bootstrap-4.js"></script>

<!-- Template Javascript -->
<script src="/23PLFMUSIC/public/design/js/main.js"></script>

</body>

</html>