{% extends 'base.html.twig' %}
{% block title %}Consulter un cours!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block header %}Mon superbe menu{% endblock %}
{% block body %}
<div class ="col-sm-12 col-xl-6 ">
    <div  class="container-fluid pt-4 px-4">
        <div class =" bg-secondary rounded h-100 p-4">
    <h6 class="mb-4">PAGE DE CONSULTATION D'UN COURS</h6>

    <table class="table table-borderless">
        <tr><td>Id : </td><td>{{cours.id}} </td></tr>

        <tr><td>Libelle : </td><td>{{cours.libelle}}</td>

        <tr><td>Instrument appris : </td><td>{{cours.typeInstrument.libelle}}</td>

        <tr><td>Nom du professeur : </td><td>{{cours.professeur.nom}}</td></tr>

        <tr><td>Prenom du professeur : </td><td>{{cours.professeur.prenom}}</td></tr>
    </table>

    <h6 class="mb-4">ÉLÈVES INSCRITS </h6>
    <ul>
        {% for inscription in cours.inscriptions %}
            <li>{{ inscription.eleve.nom }} {{ inscription.eleve.prenom }}</li>
        {% endfor %}
    </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}{% endblock %}