{% extends 'base.html.twig' %}
{% block title %}Consulter un cours!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block header %}Mon superbe menu{% endblock %}
{% block body %}

        <form action="{{ path('coursAjouter') }}" method="get">

        </form>

        <div class="col-12">
                <div  class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">LISTE DES COURS</h6>
                        <form action="{{ path('coursAjouter') }}" method="get">
                                <button type="submit" class="btn btn-primary">Ajouter un nouveau cours</button>
                        </form>
                        <div class="table-responsive">
        <table class="table">
        {% for typeInstrument, coursGroupes in groupesCours %}


                        <tr>
                                <th scope="col" style="text-align: center;">Instrument</th>
                                <th scope="col" style="text-align: center;">Jour</th>
                                <th scope="col" style="text-align: center;">Heure de début</th>
                                <th scope="col" style="text-align: center;">Heure de fin</th>
                                <th scope="col" style="text-align: center;">Nombre de places</th>
                                <th scope="col" style="text-align: center;">Age minimum</th>
                                <th scope="col" style="text-align: center;">Age maximum</th>
                                <th scope="col" style="text-align: center;">Type de cours</th>
                                <th scope="col">Consulter</th>
                                <th scope="col">Modifier</th>
                                <th scope="col">Supprimer</th>

                        </tr>

                        {% for c in coursGroupes %}
                                <tr>
                                        {% if loop.first %}
                                                <td style="text-align: center;"  rowspan="{{ coursGroupes|length }}">{{ c.typeInstrument.libelle }}</td>
                                        {% endif %}
                                        <td scope="row">{{ c.jour.libelle }}</td>
                                        <td style="text-align: center;">{{ c.heureDebut | date('H:i') }}</td>
                                        <td style="text-align: center;">{{ c.heureFin | date('H:i') }}</td>
                                        <td style="text-align: center;">{{ c.nbPlaces }}</td>
                                        <td style="text-align: center;">{{ c.ageMini }}</td>
                                        <td style="text-align: center;">{{ c.ageMaxi }}</td>
                                        <td style="text-align: center;">{{ c.typeCours.libelle }}</td>

                                        <td>
                                                <form action="{{ path('coursConsulter', {'id': c.id}) }}" method="get">
                                                        <button type="submit" class="btn btn-outline-primary">Consulter</button>
                                                </form>
                                        </td>
                                        <td>
                                                <form action="{{ path('coursModifier', {'id': c.id}) }}" method="post">
                                                        <input type="hidden" name="_method" value="UPDATE">
                                                        <button type="submit" class="btn btn-outline-primary">Modifier</button>
                                                </form>
                                        </td>
                                        <td>
                                                <form action="{{ path('coursSupprimer', {'id': c.id}) }}" method="post">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <button type="submit" class="btn btn-outline-primary" >Supprimer</button>
                                                </form>
                                        </td>


                                </tr>
                        {% endfor %}

        {% endfor %}
        </table>
                        </div>
                </div>
                </div>
        </div>
{% endblock %}
{% block javascripts %}{% endblock %}
