<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

        <h2>LISTE DES COURS</h2>
<form action="{{ path('coursAjouter') }}" method="get">
        <button type="submit">Ajouter un nouveau cours</button>
</form>
        <table border="1">
        {% for typeInstrument, coursGroupes in groupesCours %}


                        <tr>
                                <th>Instrument</th>
                                <th>Jour</th>
                                <th>Heure de début</th>
                                <th>Heure de fin</th>
                                <th>Nombre de places</th>
                                <th>Age minimum</th>
                                <th>Age maximum</th>
                                <th>Type de cours</th>
                                <th>Consulter</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>

                        </tr>

                        {% for c in coursGroupes %}
                                <tr>
                                        {% if loop.first %}
                                                <td style="text-align: center;" rowspan="{{ coursGroupes|length }}">{{ c.typeInstrument.libelle }}</td>
                                        {% endif %}
                                        <td style="text-align: center;">{{ c.jour.libelle }}</td>
                                        <td style="text-align: center;">{{ c.heureDebut | date('H:i') }}</td>
                                        <td style="text-align: center;">{{ c.heureFin | date('H:i') }}</td>
                                        <td style="text-align: center;">{{ c.nbPlaces }}</td>
                                        <td style="text-align: center;">{{ c.ageMini }}</td>
                                        <td style="text-align: center;">{{ c.ageMaxi }}</td>
                                        <td style="text-align: center;">{{ c.typeCours.libelle }}</td>

                                        <td>
                                                <form action="{{ path('coursConsulter', {'id': c.id}) }}" method="get">
                                                        <button type="submit">Consulter</button>
                                                </form>
                                        </td>
                                        <td>
                                                <form action="{{ path('coursModifier', {'id': c.id}) }}" method="post">
                                                        <input type="hidden" name="_method" value="UPDATE">
                                                        <button type="submit">Modifier</button>
                                                </form>
                                        </td>
                                        <td>
                                                <form action="{{ path('coursSupprimer', {'id': c.id}) }}" method="post">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <button type="submit">Supprimer</button>
                                                </form>
                                        </td>


                                </tr>
                        {% endfor %}

        {% endfor %}
        </table>

